{% extends "outer_main.html" %}
{% block title %}Home{% endblock title %}

{% block innerjs %}
	  <script type="text/javascript" src="/static/home.js"></script>
	  <script type="text/javascript" src="/static/fileuploader.js"></script>
{% endblock innerjs %}

{% block content %}
<div>
  <div class="profile_details">
  <span>
    <h1>
    {{profile.nick}}
    </h1>
  </span>
  <span>
    <!-- joined // {{profile.joined}}<br/> -->
      age // {{profile.age}}<br/>
      gender // {{profile.gender}}
    </span>
    <span>  </span>
    <span>
      wants // {{profile.wants}}<br/>
      email // {{profile.email}}
  </span>
</div>
<div>
  {% for pic in pictures %}
    <span>
      <a href="/fullimg/{{pic.key.id}}"><img src="/thumb/{{pic.key.id}}" /></a>
    </span>
  {% endfor %}
</div>
<div>
  {{ addpic_html }}
</div>
<div>
  <h1>Invitations</h1>
  {% for invitee in invitees %}
    <div>
      <div class="profile_details">
      <span>
            <a href="/profile/{{invitee.inviter.key.id}}/view">
        <h1>
        {{invitee.inviter.nick}}
        </h1>
            </a>
      </span>
      <span>
        <!-- joined // {{profile.joined}}<br/> -->
          age // {{invitee.inviter.age}}<br/>
          gender // {{profile.gender}}
        </span>
        <span>  </span>
        <span>
          wants // {{invitee.inviter.wants}}<br/>
          email // {{invitee.inviter.email}}
      </span>
      <span>
        <a href="/profile/{{invitee.inviter.key.id}}/accept">
          <h2>
           Accept 
        </h2>
        </a>
      </span>
      <span>
        <a href="/profile/{{invitee.inviter.key.id}}/decline">
          <h2>
            Decline
        </h2>
        </a>
      </span>
    </div>
    <div>
      {% for pic in invitee.inviter.pictures %}
        <span>
          <a href="/fullimg/{{pic.key.id}}"><img src="/thumb/{{pic.key.id}}" /></a>
        </span>
      {% endfor %}
    </div>
	{% endfor %}
</div>
<div>
  <h1>You Invited</h1>
  {% for inviter in inviters %}
    <div>
      <div class="profile_details">
      <span>
            <a href="/profile/{{inviter.invitee.key.id}}/view">
        <h1>
        {{inviter.invitee.nick}}
        </h1>
            </a>
      </span>
      <span>
        <!-- joined // {{profile.joined}}<br/> -->
          age // {{inviter.invitee.age}}<br/>
          gender // {{inviter.invitee.gender}}
        </span>
        <span>  </span>
        <span>
          wants // {{inviter.invitee.wants}}<br/>
          email // {{inviter.invitee.email}}
      </span>
      <span>
        <a href="/profile/{{inviter.invitee.key.id}}/cancel">
          <h2>
            Cancel
        </h2>
        </a>
      </span>
      <span>
        <a href="/profile/{{inviter.invitee.key.id}}/report">
          <h2>
            Report
        </h2>
        </a>
      </span>
    </div>
    <div>
      {% for pic in inviter.invitee.pictures %}
        <span>
          <a href="/fullimg/{{pic.key.id}}"><img src="/thumb/{{pic.key.id}}" /></a>
        </span>
      {% endfor %}
    </div>
	{% endfor %}
</div>
<div>
  <h1>You Accepted</h1>
  {% for accepter in accepters %}
    <div>
      <div class="profile_details">
      <span>
            <a href="/profile/{{accepter.invitee.key.id}}/view">
        <h1>
        {{accepter.invitee.nick}}
        </h1>
            </a>
      </span>
      <span>
        <!-- joined // {{profile.joined}}<br/> -->
          age // {{accepter.invitee.age}}<br/>
          gender // {{accepter.invitee.gender}}
        </span>
        <span>  </span>
        <span>
          wants // {{accepter.invitee.wants}}<br/>
          email // {{accepter.invitee.email}}
      </span>
      <span>
        <a href="/profile/{{accepter.invitee.key.id}}/cancel">
          <h2>
            Cancel
        </h2>
        </a>
      </span>
      <span>
        <a href="/profile/{{accepter.invitee.key.id}}/report">
          <h2>
            Report
        </h2>
        </a>
      </span>
    </div>
    <div>
      {% for pic in accepter.invitee.pictures %}
        <span>
          <a href="/fullimg/{{pic.key.id}}"><img src="/thumb/{{pic.key.id}}" /></a>
        </span>
      {% endfor %}
    </div>
	{% endfor %}
</div>
<div>
  <h1>Accepted you</h1>
  {% for acceptee in acceptees %}
    <div>
      <div class="profile_details">
      <span>
            <a href="/profile/{{acceptee.inviter.key.id}}/view">
        <h1>
        {{acceptee.inviter.nick}}
        </h1>
            </a>
      </span>
      <span>
        <!-- joined // {{profile.joined}}<br/> -->
          age // {{acceptee.inviter.age}}<br/>
          gender // {{acceptee.inviter.gender}}
        </span>
        <span>  </span>
        <span>
          wants // {{acceptee.inviter.wants}}<br/>
          email // {{acceptee.inviter.email}}
      </span>
      <span>
        <a href="/profile/{{acceptee.inviter.key.id}}/cancel">
          <h2>
            Cancel
        </h2>
        </a>
      </span>
      <span>
        <a href="/profile/{{acceptee.inviter.key.id}}/report">
          <h2>
            Report
        </h2>
        </a>
      </span>
    </div>
    <div>
      {% for pic in acceptee.inviter.pictures %}
        <span>
          <a href="/fullimg/{{pic.key.id}}"><img src="/thumb/{{pic.key.id}}" /></a>
        </span>
      {% endfor %}
    </div>
	{% endfor %}
</div>
</div>
{% endblock content %}
