<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <title>locs</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAGGMJIuUzby07NUrR7mallhTO5SMOnbNMld8-9ly8A2W2BJna7hTVMeUv5o1lc66IuTbSqr-ctvoUKg" type="text/javascript"></script>
	<script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/json2.js"></script>
    <script type="text/javascript" src="/static/markermanager.js"></script>
    <script type="text/javascript" src="/static/locMap.js" ></script>
  </head>
<body onunload="GUnload();">
<div class="container round">
<h1>Shallow Coffee - <a href="/static/faq.html">FAQ</a> </h1>
<div id="center_lat" style="display:none;">{{center_lat}}</div>
<div id="center_lon" style="display:none;">{{center_lon}}</div>
<div id="map" class="map round">
  <div id="map_canvas" style="height:500px"></div>
  <div id="map_controls" class="map_controls">
	<button type="button" id="go" class="gobutton roundbutton round" onclick="search_on_map_center();">
		Search Here
	</button>
	<!--<button type="button" onclick="set_location_here();">
		Set Location Here
	</button> -->
	</div>
</div>
<div class="piclist">
<p><b>//N// nearest pics within //X// miles of //{{center_lat}}, {{center_lon}}//</b></p>
<div id="piclist_container">
<p>Loading...</p>
</div>
<div id="latest_container" style="display:none;">
</div>
</div>
<div class="middle">
<a id="showformbutton" href="/new_profile/" class="bigbutton roundbutton round">New Profile</a>
</div>
</div>
</body>
</html>
