<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <title>locs</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAGGMJIuUzby07NUrR7mallhTO5SMOnbNMld8-9ly8A2W2BJna7hTVMeUv5o1lc66IuTbSqr-ctvoUKg" type="text/javascript"></script>
	<script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/json2.js"></script>
    <script type="text/javascript" src="/static/markermanager.js"></script>
    <script type="text/javascript" src="/static/locMap.js" ></script>
  </head>
<body onunload="GUnload();">
<div class="container round">
<h1>Took This Here - <a href="/static/faq.html">FAQ</a> 
	<button id="showLatest" class="bigbutton roundbutton round">Show Recent Pics</button>
	<button id="showMap" style="display:none;" class="bigbutton roundbutton round">Show Map</button>
	</h1>
<div id="center_lat" style="display:none;">{{center_lat}}</div>
<div id="center_lon" style="display:none;">{{center_lon}}</div>
<div id="map" class="map round">
  <div id="map_canvas" style="height:500px"></div>
  <div id="map_controls" class="map_controls">
	<button type="button" id="go" class="gobutton roundbutton round" onclick="search_on_map_center();">
		Search Here
	</button>
	<!--<button type="button" onclick="set_location_here();">
		Set Location Here
	</button> -->
	</div>
</div>
<div class="piclist">
<p><b>//N// nearest pics within //X// miles of //{{center_lat}}, {{center_lon}}//</b></p>
<div id="piclist_container">
<p>Loading...</p>
</div>
<div id="latest_container" style="display:none;">
</div>
</div>
<div class="middle">
<button id="showformbutton" type="button" class="bigbutton roundbutton round">Upload a Pic</button>
</div>
<div id="formdiv" class="formdiv round" style="display:none;">
	<h2>Upload Your Own Image</h2>
<form action="/upload" method="post" enctype="multipart/form-data">
	<input type="hidden" name="action" value="thread"/>
	<table class="formtable">
		<tr>
			<td>
				//choose an image//
			</td><td width="75%">	
				<input type="file" name="file" />
			</td>
		</tr><tr>
			<td>
				//describe it//
			</td><td>
				<input type="text" name="desc" value="Description" class="fill"></input>
			</td>
		</tr><tr>
			<td>
				//add a location//
			</td><td>
				<input type="text" name="loc" value="98004" id="locbox"/>
				[<input type="radio" name="loctype" value="name" checked>Place Name]
				[<input type="radio" name="loctype" value="coords" id="coordinput">Coords]
			</td>
		</tr><tr>
			<td>
			
			</td><td>
				<button type="button" class="roundbutton round" onclick="getlocfrommap()">Get Loc From Map</button> 
			</td>
		</tr>
	</table>
	<button type="submit" class="roundbutton round bigbutton middle"> Upload Image </button><br>
	//possible place names include "98009" or "Bellevue, WA" or "NE 8th St and 112th, 98004"
</form>
</div>
</div>
</body>
</html>