{% extends "outer_main.html" %}
{% block title %} Locs {% endblock title %}
{% block innerjs %}
<script type="text/javascript" src="/static/locMap.js" ></script>
<script type="text/javascript" src="/static/jquery-lightbox-0.5/js/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="/static/jquery-lightbox-0.5/css/jquery.lightbox-0.5.css" media="screen" />
{% endblock innerjs %}
{% block bodyattrs %}
{% endblock bodyattrs %}
{% block content %}
<div class="container round">
<h1>Shallow Coffee - <a href="/static/faq.html">FAQ</a> </h1>
<div class="piclist">
  <div class="searchbar">
    <span class="searchfor">
      show:
      <select name="searchfor" class="optionchange">
        <option>w4m</option>
        <option>m4w</option>
        <option>w4w</option>
        <option>m4m</option>
        <option>any</option>
      </select>
    </span>
    <span class="nearish">
      within:
      <select name="nearish" class="optionchange">
        <option value="1">1 mile</option>
        <option value="5">5 miles</option>
        <option value="20">20 miles</option>
        <option value="50">50 miles</option>
        <option value="250">250 miles</option>
        <option value="any">Anywhere</option>
      </select>
    </span>
    <span class="haspic" class="optionchange">
      has pic:
      <input type="checkbox" name="haspic" value="haspic" checked="true"/>
    </span>
    <span class="online">
      last online:
      <select name="lastonline" class="optionchange">
        <option value="now">online now!</option>
        <option value="day">today</option>
        <option value="week" selected="true">this week</option>
        <option value="month">this month</option>
        <option value="year">this year</option>
        <option value="any">anytime</option>
      </select>
    </span>
  </div>

<div id="piclist_container">
<p>Loading...</p>
</div>
<div id="latest_container" style="display:none;">
</div>
</div>
</div>
{% endblock content %}
