<div>
	{% for profile in profiles %}
    <div>
      <div class="profile_details">
      <span>
            <a href="/profile/{{profile.key.id}}/view">
        <h1>
        {{profile.nick}}
        </h1>
            </a>
      </span>
      <span>
        <!-- joined // {{profile.joined}}<br/> -->
          age // {{profile.age}}<br/>
          gender // {{profile.gender}}
        </span>
        <span>  </span>
        <span>
          wants // {{profile.wants}}<br/>
          email // {{profile.email}}
      </span>
      <span>
        <a href="/profile/{{profile.key.id}}/invite">
          <h2>
          Ask
        </h2>
        </a>
      </span>
    </div>
    <div>
      {% for pic in profile.pictures %}
        <span class="gallery">
          <a href="/image/{{pic.key.id}}"><img src="/thumb/{{pic.key.id}}" /></a>
        </span>
      {% endfor %}
    </div>
	{% endfor %}
</div>
