{% extends "outer_main.html" %}
{% block title %} Invite {% endblock title %}
{% block innerjs %}
{% endblock innerjs %}
{% block bodyattrs %}
{% endblock bodyattrs %}
{% block content %}
<div>
  <form action="/profile/{{profileid}}/ask" method="post">
    <table>
      <tr>
        <td>
    <div>
      <h1>Select a Venue</h1>
    {% for venue in venues %}
      <div>
        <input type="radio" name="venue" value="{{venue.reference}}">
        <span class="venue_details">
          <span>
                  <h1>
                    <img src="{{venue.icon}}" />
                    {{venue.name}}
                  </h1>
          </span>
          <span>
            {{venue.vicinity}}
            </span>
          </span>
        </span>
      </input>
    {% endfor %}
  </div>
  </td>
  <td valign="top">
    <h1>
      Pick 3 Times
    </h1>

    <div>
      <h3>1</h3>
      <label for="date_1">Date</label>
      <input type="text" name="date_1" value="{{d1s}}"/>
      <br/>
      <label for="time_1">Time</label>
      <input type="text" name="time_1" value="7:00"/>
    </div>
    <div>
      <h3>2</h3>
      <label for="date_2">Date</label>
      <input type="text" name="date_2" value="{{d2s}}"/>
      <br/>
      <label for="time_2">Time</label>
      <input type="text" name="time_2" value="7:00"/>
    </div>
    <div>
      <h3>3</h3>
      <label for="date_3">Date</label>
      <input type="text" name="date_3" value="{{d3s}}"/>
      <br/>
      <label for="time_3">Time</label>
      <input type="text" name="time_3" value="7:00"/>
    </div>
    <input type="hidden" name="action" value="ask"/>
    <button type="submit"><h1>Invite<h1></button>
  </td>
  </form>
</div>
{% endblock content %}
