<div>
  <form action="/profile/{{profileid}}/ask" method="post">

    <div>
      <h3>1</h3>
      <label for="date_1">Date</label>
      <input type="text" name="date_1" value="3/25/11"/>
      <br/>
      <label for="time_1">Time</label>
      <input type="text" name="time_1" value="7:00"/>
    </div>
    <div>
      <h3>2</h3>
      <label for="date_2">Date</label>
      <input type="text" name="date_2" value="3/26/11"/>
      <br/>
      <label for="time_2">Time</label>
      <input type="text" name="time_2" value="7:00"/>
    </div>
    <div>
      <h3>3</h3>
      <label for="date_3">Date</label>
      <input type="text" name="date_3" value="3/27/11"/>
      <br/>
      <label for="time_3">Time</label>
      <input type="text" name="time_3" value="7:00"/>
    </div>
    <input type="hidden" name="action" value="ask"/>
    <button type="submit">Invite</button>
  </form>
</div>

